

.dashboard-container{
    width: 87%;
   float: left;
}


.top-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    width: 50%;
  


}

h2{
    font-size: 40px;
    font-weight: 400;
}

.funds-container{
    width: 30%;

}


.goals-summary-container{
    width: 100%;
    position: absolute;
    display: inline-block;
}



.goal-tabs{
    width: 13vw;
    height: 200px;
    float: left;
  margin-left: 20px;
  margin-right: 20px;
}


.tab-background{
    width: inherit;
    height: inherit;
    background-color: antiquewhite;
   
    
   

}

.goal-dash-tabs{
  width: inherit;
   
 background-color: blueviolet;
 position: absolute;
 bottom:  0%;
 
  
}

.goal-name{
   width: 100%;
   font-size: 25px;
   font-weight: 400;
   text-align: center;
}